extends layout  

block content   
    .jumbotron.background-image-mission-vision.text-white.text-right
        h1.display-4 Our Mission and Vision
        p.lead
            | Providing World Class Services at Best Possible rates.
        hr.my-4
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt placeat vel magni, quo, doloremque error sint ex ratione debitis dicta. Maxime nam, aperiam ex obcaecati delectus ut molestiae perspiciatis?
    .row
        .col-md-3
            .card
                .card-header    
                    h5.text-center.font-weight-bold About Us
                .card-body
                    nav.nav.flex-column
                        a.nav-link.active.text-black(href='/navigation/about-us') Company Profile
                        a.nav-link.secondary(href='/navigation/bofd') Board of Directors
                        a.nav-link.text-black(href='/navigation/mission-vision') Missions and Visions
            hr
            h6.text-right Ongoing Projects
            #carouselExampleControls.carousel.slide(data-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='/img/photos/image1.jpg', alt='...')
                    .carousel-item
                        img.d-block.w-100(src='/img/photos/image3.jpg', alt='...')
                    .carousel-item
                        img.d-block.w-100(src='/img/photos/image4.jpg', alt='...')
                a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
        .col-md-9
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') Home
                    li.breadcrumb-item
                        a(href='/navigation/about-us') About Us
                    li.breadcrumb-item.active(aria-current='page') Mission snd Vision
            .row   
                #accordionExample.accordion.w-100
                    .card
                        #headingOne.card-header
                            h2.mb-0(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                button.btn.btn-link Our Mission
                                img.content-to-end-block(src="/img/logo/add.svg", alt="add_symbol", style="margin-top:0.35em")    
                        #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                            .card-body
                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    .card
                        #headingTwo.card-header
                            h2.mb-0(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                button.btn.btn-link.collapsed Our Vision
                                img.content-to-end-block(src="/img/logo/add.svg", alt="add_symbol", style="margin-top:0.35em")
                        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                            .card-body
                                | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.